<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/alumni_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/alumni_logo"
        android:theme="@style/Theme.AlumniApp1">
        <activity
            android:name=".InstitutionLandingActivity"
            android:exported="false" />
        <activity
            android:name=".EventManagementActivity"
            android:exported="false" />
        <activity
            android:name=".PollManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ControlPanelActivity"
            android:exported="false" />
        <activity
            android:name=".DatabaseRestoreActivity"
            android:exported="false" />
        <activity
            android:name=".PollResultsActivity"
            android:exported="false" />
        <activity
            android:name=".AlumniPollsActivity"
            android:exported="false" />
        <activity
            android:name=".EventParticipationReportActivity"
            android:exported="false" />
        <activity
            android:name=".EventParticipationActivity"
            android:exported="false" />
        <activity
            android:name=".AddInstitutionPollActivity"
            android:exported="false" />
        <activity
            android:name=".AddInstitutionEventActivity"
            android:exported="false" />
        <activity
            android:name=".InstitutionEventsActivity"
            android:exported="false" />
        <activity
            android:name=".AlumniApprovalActivity"
            android:exported="false"
            android:theme="@style/Theme.AlumniApp1" />
        <activity
            android:name=".AlumniInstitutionsActivity"
            android:exported="false" />
        <activity
            android:name=".AlumniInstitutionRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AlumniLoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".InstitutionAdminAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".AlumniAccountManagerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".UdfFieldListActivity"
            android:exported="false" />
        <activity
            android:name=".EditAdminPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AdminUserActivity"
            android:exported="false" />
        <activity
            android:name=".AddInstitutionActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAlumniActivity"
            android:exported="false" />
        <activity
            android:name=".AddAlumniActivity"
            android:exported="false" />
        <activity
            android:name=".AlumniMainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>